<div class="border border-gray-300 bg-white rounded-xl shadow-lg overflow-hidden p-8">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row items-center justify-between pb-4">
        <h2 class="text-2xl font-semibold  mb-4 sm:mb-0" [ngClass]="config.textColor">
            {{ config.textDetailHeader }}
        </h2>
        <button type="button" (click)="goBack()" class=" hover:text-white text-gray-800 px-6 py-2 rounded-lg shadow"
            [ngClass]="config.backButtonColor">
            <i class="fas fa-arrow-left mr-2"></i>
            Back
        </button>
    </div>

    <hr class="border-t-2 mb-6" [ngClass]="config.hrColor">

    <div class="flex flex-col gap-6">
        <ng-container *ngFor="let row of getRows(); let i = index">
            <fieldset class="border rounded-xl p-5 md:p-6 w-full" [ngClass]="config.groupLabelBorderColor">
                <!-- Dynamic legend (row label) -->
                <legend class="text-lg font-semibold px-2" [ngClass]="config.groupLabelColor">
                    {{ row[0]?.groupLabel || 'Row ' + (i + 1) }}
                </legend>

                <div
                    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 items-start mt-2">
                    <div *ngFor="let field of row" [class]="'col-span-' + (field.colSpan || 1) + ' flex flex-col'">
                        <!-- Label -->
                        <span class="text-sm font-medium font-sans mb-1" [ngClass]="config.detailLabelColor">
                            {{ field.label }}
                        </span>

                        <!-- Value -->
                        <span class="text-base font-semibold"
                            [ngClass]="field.cellClass ? field.cellClass(getCellValue(data, field.key)) : 'text-gray-800'">
                            {{ getCellValue(data, field.key) | customTransform: field.pipe }}
                        </span>
                    </div>
                </div>
            </fieldset>
        </ng-container>
    </div>

    <!-- Patient Table Card -->
    <div *ngIf="isList && (listData && listData.length>0)" class="bg-white flex flex-col mt-6">
        <fieldset class="border border-gray-300 rounded-xl p-7">
            <legend class="px-2 text-xl font-semibold" [ngClass]="config.groupLabelColor">
                {{ listTitle }}
            </legend>

            <!-- Search -->
            <div class="mb-5">
                <input type="text" [(ngModel)]="searchTerm" placeholder="Search ..."
                    class="w-1/3 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400" />
            </div>

            <!-- Table -->
            <div class="overflow-y-auto max-h-80 border border-gray-300">
                <table class="min-w-full border-separate border-spacing-0 text-center">
                    <thead>
                        <tr>
                            <th
                                class="sticky top-0 z-10 bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700 border-b border-gray-300">
                                #
                            </th>

                            <th *ngFor="let col of columns"
                                class="sticky top-0 z-10 bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700 border-b border-gray-300">
                                {{ col.label }}
                            </th>

                            <th
                                class="sticky top-0 z-10 bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700 border-b border-gray-300">
                                Actions
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let row of filteredItems; let i = index">
                            <td class="px-4 py-2 border text-sm text-gray-600 border-gray-300">
                                {{ i + 1 }}
                            </td>
                            <td *ngFor="let col of columns"
                                class="px-4 py-2 border text-sm border-gray-300 whitespace-nowrap text-wrap"
                                [ngClass]="col.cellClass ? col.cellClass(getCellValue(row, col.key)) : 'text-gray-600'">
                                {{ getCellValue(row, col.key) | customTransform: col.pipeType}}
                            </td>
                            <td class="px-4 py-2 border text-sm text-gray-600 border-gray-300">
                                <div class="flex justify-center space-x-2">
                                    <i class="fas fa-eye text-blue-500 cursor-pointer hover:text-blue-700"
                                        title="View"></i>
                                    <i class="fas fa-edit text-green-500 cursor-pointer hover:text-green-700"
                                        title="Edit" (click)="onEdit(row)"></i>
                                    <i class="fas fa-trash text-red-500 cursor-pointer hover:text-red-700"
                                        title="Delete"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </fieldset>
    </div>


</div>