<div class="m-4">
    <app-table 
        [data]="patientList"
        [columns]="columns" 

        [addButtonRoute]="'/patients/add'" 

        [config]="patientUiConfig"

        [pageNumber]="pageNumber"   
        [pageSize]="pageSize"
        [totalCount]="totalCount"
        [totalPages]="totalPages"

        (viewClicked)="onViewPatient($event)" 
        (editClicked)="onEditPatient($event)"
        (deleteClicked)="onDeletePatient($event)"

        (pageChange)="onPageChange($event)"
    ></app-table>
</div>

<div class="m-4">
    <app-confirm-dialog 
        [title]="'Delete Patient'" 
        [message]="'Do you really want to remove this patient?'" 
        [item]="selectedPatient"
        [show]="showModal" 
        
        (confirm)="deletePatient($event)" 
        (cancel)="showModal = false"
        >
    </app-confirm-dialog>
</div>

<!-- [data]="(patientList$ | async) ?? []"  -->