<div class="m-4">
    <app-table 
        [data]="appointmentList"
        [columns]="columns" 

        [addButtonRoute]="'/appointments/add'" 

        [config]="appointmentUiConfig"
        [showDropdown]="true"
        [dropdownOptions]="statusOptions"

        [pageNumber]="pageNumber"   
        [pageSize]="pageSize"
        [totalCount]="totalCount"
        [totalPages]="totalPages"

        (viewClicked)="onViewAppointment($event)" 
        (editClicked)="onEditAppointment($event)"
        (deleteClicked)="onDeleteAppointment($event)"

        (pageChange)="onPageChange($event)"
        (dropdownChange)="getAllAppointments(1, pageSize, $event)"
    ></app-table>
</div>

<div class="m-4">
    <app-confirm-dialog 
        [title]="'Delete Appointment'" 
        [message]="'Do you really want to remove this appointment?'" 
        [item]="selectedAppointment"
        [show]="showModal" 
        
        (confirm)="deleteAppointment($event)" 
        (cancel)="showModal = false"
        >
    </app-confirm-dialog>
</div>



<!-- [data]="(doctorList$ | async) ?? []"  -->
