<div class="m-4">
    <app-table 
        [data]="appointmentList"
        [columns]="columns" 

        [addButtonRoute]="'/appointments/add'" 

        [config]="appointmentUiConfig"
        [showDropdown]="true"
        [dropdownOptions]="statusOptions"

        [pageNumber]="pageNumber"   
        [pageSize]="pageSize"
        [totalCount]="totalCount"
        [totalPages]="totalPages"

        (viewClicked)="onViewAppointment($event)" 
        (editClicked)="onEditAppointment($event)"
        (deleteClicked)="onDeleteAppointment($event)"

        (pageChange)="onPageChange($event)"
        (dropdownChange)="getAllAppointments(1, pageSize, $event)"
    ></app-table>
</div>

<!-- [data]="(doctorList$ | async) ?? []"  -->
