<div class="p-6 bg-white border border-gray-300 rounded-lg shadow-md w-full overflow-x-auto">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row items-center justify-between pb-4">
        <h3 class="font-bold text-2xl mb-2 sm:mb-0" [ngClass]="config.headerTextColor">
            {{ config.headerText }}
        </h3>
        <span class="text-xl font-bold text-gray-700">
            Total Records : {{ data.length || 0 }}
        </span>
    </div>

    <div class="flex flex-col sm:flex-row justify-between items-center mb-4 gap-2 w-full">
        <!-- Left side: Search + Dropdown -->
        <div class="flex flex-col sm:flex-row w-full sm:w-3/4 gap-2">
            <!-- Search box -->
            <input type="text" placeholder="Search..." [(ngModel)]="searchText" (input)="onSearch()"
                class="px-3 py-2 border border-gray-300 rounded-md w-full sm:w-2/3 lg:w-[40%] focus:outline-none focus:ring-2 focus:ring-indigo-400" />
        </div>

        <!-- Right side: Add button -->
        <button (click)="onAdd()" class="px-4 py-2 text-white rounded-md transition w-full sm:w-1/5 lg:w-[12%]"
            [ngClass]="config.addButtonColor">
            {{ config.addButtonLabel }}
        </button>
    </div>

    <!-- Table -->
    <div class="overflow-x-auto">
        <table class="min-w-full border border-gray-300 border-collapse text-center">
            <thead class="bg-slate-500 border-t-2 border-x-2 border-slate-500">
                <tr>
                    <!-- Serial No -->
                    <th class="px-4 py-2 text-sm font-medium text-white border border-gray-300 whitespace-nowrap"
                        [style.width]="'200px'">#
                    </th>

                    <!-- Role Columns -->
                    <th *ngFor="let col of parentColumns" [style.width]="col.width"
                        class="px-4 py-2 text-sm font-medium text-white border border-gray-300 whitespace-nowrap">
                        {{ col.header }}
                    </th>

                    <!-- Actions -->
                    <th class="px-4 py-2 text-sm font-medium text-white border border-gray-300 whitespace-nowrap"
                        [style.width]="'300px'">
                        Actions
                    </th>
                </tr>
            </thead>

            <tbody class="bg-white divide-y divide-gray-200">
                <ng-container *ngFor="let row of filteredData; let i = index">
                    <!-- Role Row -->
                    <tr>
                        <td class="px-4 py-2 border text-sm font-medium border-gray-300">{{ i + 1 }}</td>
                        <td *ngFor="let col of parentColumns" [innerHTML]="handleField(row[col.field])"
                            [style.width]="col.width" class="px-4 py-2 border text-sm font-medium border-gray-300">
                            <!-- {{ row[col.field] }} -->
                        </td>
                        <td class="px-4 py-2 border text-sm border-gray-300" [style.width]="'300px'">
                            <div class="flex justify-center space-x-1">
                                <i class="far fa-eye text-blue-500 cursor-pointer hover:text-blue-800"
                                    title="View Permissions" (click)="row.expanded = !row.expanded">
                                </i>
                                <i class="far fa-edit text-green-500 cursor-pointer hover:text-green-800"
                                    (click)="onEditParent(row)" title="Edit">
                                </i>
                                <i class="far fa-trash-alt text-red-500 cursor-pointer hover:text-red-800"
                                    (click)="onDeleteParent(row)" title="Delete">
                                </i>
                            </div>
                        </td>
                    </tr>

                    <!-- Permissions Nested Table -->
                    <tr *ngIf="row.expanded" class="bg-white shadow-md">
                        <td [attr.colspan]="parentColumns.length + 2" class="px-3 py-3">
                            <div class="overflow-x-auto">
                                <table class="min-w-full border border-slate-400 rounded-lg text-sm">
                                    <thead class="bg-slate-200">

                                        <tr class="bg-slate-300">
                                            <td [attr.colspan]="childColumns.length + 4" class="p-2">
                                                <div class="flex items-center justify-between w-full">
                                                    <!-- LEFT SIDE -->
                                                    <div class="flex items-center space-x-1">
                                                        <span
                                                            class="inline-flex items-center ms-1 px-2 py-1 rounded-md font-medium border border-teal-500 bg-white text-teal-600">
                                                            <span class="text-pink-500 pe-1">{{ row['roleName']
                                                                }}</span>
                                                            Permissions
                                                            <span
                                                                class="inline-flex items-center ms-1 px-3 py-1 rounded-lg text-sm font-medium bg-teal-50 text-black">
                                                                {{ row.filterChildData.length }}
                                                            </span>
                                                        </span>

                                                        <div class="flex items-center relative">
                                                            <!-- Search Box (shows/hides dynamically) -->
                                                            <input *ngIf="isSearchBoxOpen(row.roleId)" type="text"
                                                                placeholder="Search..."
                                                                [(ngModel)]="row.searchChildText"
                                                                (input)="onSearchChildItems(row)"
                                                                [id]="'role-' + row.roleId"
                                                                class="ms-2 px-3 py-2 border border-teal-500 rounded-md w-64 focus:outline-none focus:ring-1 focus:ring-teal-600 transition-all duration-200" />

                                                            <!-- Search Icon (always visible, next to input or near Permissions) -->
                                                            <span (click)="toggleSearchBox(row['roleId'])"
                                                                class="ml-2 flex items-center justify-center w-8 h-8 text-pink-400 border border-white rounded-full bg-pink-50 cursor-pointer hover:bg-teal-300 hover:text-white transition-colors duration-200 shadow-sm">
                                                                <i class="fas fa-search"></i>
                                                            </span>
                                                        </div>

                                                    </div>

                                                    <!-- RIGHT SIDE -->
                                                    <button (click)="onAddChild()"
                                                        class="my-1 bg-teal-500 text-white px-3 py-2 shadow-md rounded-lg hover:bg-teal-600">
                                                        + Add Permission
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>


                                        <tr>
                                            <th class="px-2 py-1 font-medium text-gray-800 border border-slate-300">#
                                            </th>
                                            <th *ngFor="let childCol of childColumns" [style.width]="childCol.width"
                                                class="px-2 py-1 font-medium text-gray-800 border border-slate-300">
                                                {{ childCol.header }}
                                            </th>
                                            <th class="px-2 py-1 font-medium text-gray-800 border border-slate-300">
                                                Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-slate-50">
                                        <tr *ngFor="let perm of row.filterChildData; let j = index">
                                            <td class="px-2 py-1 border text-gray-600 border-slate-300">{{ j + 1 }}</td>
                                            <td *ngFor="let childCol of childColumns"
                                                [innerHTML]="handleField(perm[childCol.field])"
                                                [style.width]="childCol.width"
                                                class="px-2 py-1 border text-gray-600 border-slate-300">
                                            </td>
                                            <td class="px-2 py-1 border border-slate-300 text-center space-x-1"
                                                [style.width]="'250px'">
                                                <i class="far fa-edit text-gray-400 cursor-pointer hover:text-gray-600"
                                                    (click)="onEditChild(perm)" title="Edit">
                                                </i>
                                                <i class="far fa-trash-alt text-rose-400 cursor-pointer hover:text-rose-600"
                                                    (click)="onDeleteChild(perm)" title="Delete">
                                                </i>
                                            </td>
                                        </tr>

                                        <tr *ngIf="!row.permissions || row.permissions.length === 0">
                                            <td [attr.colspan]="childColumns.length + 2"
                                                class="px-4 py-2 text-center text-gray-500 border border-slate-300">
                                                No data found.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <tr *ngIf="data.length == 0">
                    <td [attr.colspan]="parentColumns.length + 2" class="px-4 py-2 text-center text-gray-500">
                        No data found.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex justify-end items-center mt-4 space-x-2">
        <button (click)="prevPage()" [disabled]="pageNumber === 1"
            class="px-3 py-1 border rounded-md hover:bg-gray-100 disabled:opacity-50">
            Prev
        </button>
        <span class="px-2 text-gray-700">
            Page {{ pageNumber }} of {{ totalPages }}
        </span>
        <button (click)="nextPage()" [disabled]="pageNumber === totalPages"
            class="px-3 py-1 border rounded-md hover:bg-gray-100 disabled:opacity-50">
            Next
        </button>
    </div>

</div>