<div class="p-6 bg-white border border-gray-300 rounded-lg shadow-md w-full overflow-x-auto">

    <div class="flex flex-col sm:flex-row items-center justify-between pb-4">
        <h3 class="font-bold text-2xl mb-2 sm:mb-0" [ngClass]="config.headerTextColor">
            {{ config.headerText }}
        </h3>
        <span class="text-xl font-bold text-gray-700">
            Total Records : {{ totalCount }}
        </span>
    </div>

    <!-- Header: Search + Dropdown + Add Button -->

    <div class="flex flex-col sm:flex-row justify-between items-center mb-4 gap-2 w-full">
        <!-- Left side: Search + Dropdown -->
        <div class="flex flex-col sm:flex-row w-full sm:w-3/4 gap-2">
            <!-- Search box -->
            <input type="text" placeholder="Search..." [(ngModel)]="searchText" (input)="onSearch()"
                class="px-3 py-2 border border-gray-300 rounded-md w-full sm:w-2/3 lg:w-[40%] focus:outline-none focus:ring-2 focus:ring-indigo-400" />

            <!-- Dropdown -->
            <select *ngIf="showDropdown" #dropdown (change)="onDropdownChange(dropdown.value)"
                class="px-3 py-2 border border-gray-300 rounded-md bg-white w-full sm:w-1/3 lg:w-[20%] focus:outline-none focus:ring-2 focus:ring-indigo-400 cursor-pointer">
                <option value="">All</option>
                <option *ngFor="let option of dropdownOptions" [value]="option">
                    {{ option }}
                </option>
            </select>
        </div>

        <!-- Right side: Add button -->
        <button *ngIf="can('canAdd')" (click)="onAdd()" class="px-4 py-2  text-white rounded-md  transition w-full sm:w-1/5 lg:w-[12%]"
            [ngClass]="config.addButtonColor">
            {{ config.addButtonLabel }}
        </button>
    </div>


    <!-- Table -->
    <div class="overflow-x-auto">
        <table class="min-w-full border border-gray-300 border-collapse text-center">
            <thead class="bg-gray-100">
                <tr>
                    <!-- Serial No Column -->
                    <th class="px-4 py-2 text-sm font-medium text-gray-700 border border-gray-300 whitespace-nowrap">#
                    </th>

                    <th *ngFor="let col of visibleColumns" [style.width]="col.width" 
                        class="px-4 py-2 text-sm font-medium text-gray-700 border border-gray-300 whitespace-nowrap text-wrap">
                        {{ col.header }}
                    </th>

                    <!-- Actions Column -->
                    <th *ngIf="can('canEdit') || can('canDelete') || can('canView')" class="px-4 py-2 text-sm font-medium text-gray-700 border border-gray-300 whitespace-nowrap">
                        Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let row of filteredData; let i = index">
                    <!-- Serial No (UI-driven, continues with pagination) -->
                    <td class="px-4 py-2 text-sm border border-gray-300 text-gray-600">
                        {{ (pageNumber - 1) * pageSize + i + 1 }}
                    </td>

                    <!-- Data Columns with optional pipeFn -->

                    <td *ngFor="let col of visibleColumns" [style.width]="col.width"
                        class="px-4 py-2 text-sm border border-gray-300 whitespace-nowrap text-wrap"
                        [ngClass]="col.cellClass ? col.cellClass(getCellValue(row, col.field)) : 'text-gray-600'">
                        {{ getCellValue(row, col.field) | customTransform: col.pipeType }}
                    </td>

                    <!-- Actions -->
                    <td *ngIf="can('canEdit') || can('canDelete') || can('canView')" class="px-4 py-2 border border-gray-300 text-center">
                        <div class="flex justify-center space-x-1">
                            <i *ngIf="can('canView')" class="fas fa-eye text-blue-500 cursor-pointer hover:text-blue-700" title="View"
                                (click)="onView(row)">
                            </i>
                            <i *ngIf="can('canEdit')" class="fas fa-edit text-green-500 cursor-pointer hover:text-green-700" title="Edit"
                                (click)="onEdit(row)">
                            </i>
                            <i *ngIf="can('canDelete')" class="fas fa-trash text-red-500 cursor-pointer hover:text-red-700" title="Delete"
                                (click)="onDelete(row)">
                            </i>
                        </div>
                    </td>

                </tr>
                <tr *ngIf="filteredData.length === 0">
                    <td [attr.colspan]="columns.length + 2" class="px-4 py-2 text-center text-gray-500">
                        No data found.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="flex justify-end items-center mt-4 space-x-2">
        <button (click)="prevPage()" [disabled]="pageNumber === 1"
            class="px-3 py-1 border rounded-md hover:bg-gray-100 disabled:opacity-50">
            Prev
        </button>
        <span class="px-2 text-gray-700">
            Page {{ pageNumber }} of {{ totalPages }}
        </span>
        <button (click)="nextPage()" [disabled]="pageNumber === totalPages"
            class="px-3 py-1 border rounded-md hover:bg-gray-100 disabled:opacity-50">
            Next
        </button>
    </div>
</div>