<div class="m-4">
    <app-table 
        [data]="doctorList"
        [columns]="columns" 

        [addButtonRoute]="'/doctors/add'" 

        [config]="doctorUiConfig"

        [pageNumber]="pageNumber"   
        [pageSize]="pageSize"
        [totalCount]="totalCount"
        [totalPages]="totalPages"

        (viewClicked)="onViewDoctor($event)" 
        (editClicked)="onEditDoctor($event)"
        (deleteClicked)="onDeleteDoctor($event)"

        (pageChange)="onPageChange($event)"
    ></app-table>
</div>

<div class="m-4">
    <app-confirm-dialog 
        [title]="'Delete Doctor'" 
        [message]="'Do you really want to remove this doctor?'" 
        [item]="selectedDoctor"
        [show]="showModal" 
        
        (confirm)="deleteDoctor($event)" 
        (cancel)="showModal = false"
        >
    </app-confirm-dialog>
</div>

<!-- [data]="(doctorList$ | async) ?? []"  -->