<div class="min-h-full flex items-center justify-center bg-gradient-to-r from-blue-100 via-purple-100 to-pink-100 p-4">
  <div  *ngIf="isEdit || userId==null" class="w-full max-w-md bg-white rounded-2xl shadow-lg p-8 relative">
    <!-- Close button -->
    <button *ngIf="userId!=null" (click)="closeProfile()"
      class="absolute top-3 right-3 w-8 h-8 flex items-center justify-center rounded-full bg-indigo-500 hover:bg-red-600 text-white shadow-md">
      ✕
    </button>

    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">
      {{ isEdit ? 'Update Profile' : 'Create Account' }}
    </h2>

    <!-- ================= FORM BLOCK ================= -->
    <ng-container>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- First Name -->
        <div class="my-4">
          <label class="block text-sm font-medium text-gray-700 mb-1">First Name</label>
          <input type="text" formControlName="firstName" placeholder="Enter email address" capitalizeWord
            class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 outline-none" />
          <div *ngIf="
              form.controls['firstName'].invalid &&
              (form.controls['firstName'].dirty ||
                form.controls['firstName'].touched)
            " class="text-red-500 text-sm mt-1">
            <p *ngIf="form.controls['firstName'].errors?.['required']">
              First Name is required.
            </p>
            <p *ngIf="form.controls['firstName'].errors?.['pattern']">
              Only characters allowed.
            </p>
          </div>
        </div>

        <!-- Last Name -->
        <div class="my-4">
          <label class="block text-sm font-medium text-gray-700 mb-1">Last Name</label>
          <input type="text" formControlName="lastName" placeholder="Enter email address" capitalizeWord
            class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 outline-none" />
          <div *ngIf="
              form.controls['lastName'].invalid &&
              (form.controls['lastName'].dirty ||
                form.controls['lastName'].touched)
            " class="text-red-500 text-sm mt-1">
            <p *ngIf="form.controls['lastName'].errors?.['required']">
              Last Name is required.
            </p>
            <p *ngIf="form.controls['lastName'].errors?.['pattern']">
              Only characters allowed.
            </p>
          </div>
        </div>

        <!-- Username -->
        <div class="my-4">
          <label class="block text-sm font-medium text-gray-700 mb-1">Email Address</label>
          <input type="text" formControlName="username" placeholder="Enter email address"
            class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 outline-none" />
          <div *ngIf="
              form.controls['username'].invalid &&
              (form.controls['username'].dirty ||
                form.controls['username'].touched)
            " class="text-red-500 text-sm mt-1">
            <p *ngIf="form.controls['username'].errors?.['required']">
              Email is required.
            </p>
            <p *ngIf="form.controls['username'].errors?.['pattern']">
              Enter a valid email address.
            </p>
          </div>
        </div>

        <!-- Password -->
        <div class="my-4">
          <div class="relative">
            <label class="block text-sm font-medium text-gray-700 mb-1">Password</label>
            <input formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Enter password"
              class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 outline-none" />
            <i class="fas absolute right-3 top-9 cursor-pointer text-gray-500"
              [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePassword()"></i>
          </div>
          <div *ngIf="
              form.controls['password'].invalid &&
              (form.controls['password'].dirty ||
                form.controls['password'].touched)
            " class="text-red-500 text-sm mt-1">
            <p *ngIf="form.controls['password'].errors?.['required']">
              Password is required.
            </p>
            <p *ngIf="form.controls['password'].errors?.['pattern']">
              Password must be at least 8 chars, include 1 uppercase, 1
              lowercase, 1 number & 1 special.
            </p>
          </div>
        </div>

        <!-- Role -->
        <!-- <div class="my-4">
          <label class="block text-sm font-medium text-gray-700 mb-1">Role</label>
          <input type="text" formControlName="role" placeholder="Enter Role"
            class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-500 outline-none" />
        </div> -->

        <!-- Button -->
        <button type="submit" *ngIf="userId==null"
          class="w-full mt-5 py-2 px-4 bg-gradient-to-r from-blue-500 to-purple-600 text-white rounded-lg shadow-md hover:opacity-90 transition cursor-pointer">
          Register
        </button>

        <!-- Update button -->
        <div *ngIf="isEdit" class="flex flex-col sm:flex-row gap-3 mt-5 w-full">
          <button type="submit"
            class="flex-1 py-2 px-4 bg-gradient-to-r from-blue-500 to-purple-600 text-white rounded-lg shadow-md hover:opacity-90 transition cursor-pointer">
            Update
          </button>

          <!-- View button -->
          <button type="button" (click)="viewProfile()"
            class="flex-1 py-2 px-4 bg-gradient-to-r from-green-500 to-teal-600 text-white rounded-lg shadow-md hover:opacity-90 transition cursor-pointer">
            View
          </button>
        </div>

      </form>
    </ng-container>

    <!-- Already have account link -->
    <p *ngIf="userId == null" class="text-center text-sm text-gray-600 mt-4">
      Already have an account?
      <a routerLink="/auth/login" class="text-blue-600 hover:underline">Login</a>
    </p>
  </div>

   <!-- ================= PROFILE VIEW ================= -->
  <div *ngIf="!isEdit && userId!=null" class="w-full max-w-md bg-white rounded-2xl shadow-lg p-8 relative">
   
    <button (click)="closeProfile()"
      class="absolute top-3 right-3 w-8 h-8 flex items-center justify-center rounded-full bg-indigo-500 hover:bg-red-600 text-white shadow-md">
      ✕
    </button>

    <ng-container *ngIf="!isEdit">
      <div>
        <!-- Profile Picture -->
        <div class="flex flex-col items-center mb-6">
          <img src="assets/profile2.jpg" alt="Profile Picture"
            class="w-29 h-29 border-2 border-gray-400 rounded-full shadow-md object-cover" />
          <h2 class="text-2xl font-bold text-gray-800 mt-3">
            {{ form.controls['firstName'].value }}
            {{ form.controls['lastName'].value }}
          </h2>
          <p class="text-gray-500 text-sm">
            {{ form.controls['username'].value }}
          </p>
        </div>

        <!-- Profile Info -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-4 text-sm text-left sm:text-center">
          <div class="font-medium text-gray-700">Full Name:</div>
          <div class="text-gray-800">
            {{ form.controls['firstName'].value }}
            {{ form.controls['lastName'].value }}
          </div>

          <div class="font-medium text-gray-700">Email:</div>
          <div class="text-gray-800 text-wrap">
            {{ form.controls['username'].value }}
          </div>

          <div class="font-medium text-gray-700">Role:</div>
          <div class="text-gray-800">{{ form.controls['role'].value }}</div>
        </div>

        <!-- Button -->
        <button (click)="editProfile()"
          class="w-full mt-8 py-2 px-4 bg-gradient-to-r from-blue-500 to-purple-600 text-white rounded-lg shadow-md hover:opacity-90 transition cursor-pointer">
          Edit Profile
        </button>
      </div>
    </ng-container>

  </div>
</div>